 body{ 
     background-color: #e7f5f4; 
 } 

h3{
    color: rgb(6, 180, 180);
    
}
h2,h1{
    color: rgb(87, 240, 189);
}

img{
    height: 150px;
}



.bottom-container{

 margin: 20px auto;
     background-color: rgb(155, 182, 240);
 
 }
 
 a{
     color: #e00f0f;
     margin: 10px 20px;
     text-decoration: rgb(152, 187, 233);
 }
 a:hover{
     color: rgb(126, 17, 199);
    
 }
 
 
     .btn {
         background-color:#44c767;
         border-radius:42px;
         display:inline-block;
         cursor:pointer;
         color:#ffffff;
         font-family:Times New Roman;
         font-size:19px;
         font-style:italic;
         padding:0px 10px;
         text-decoration:none;
         text-shadow:-1px 4px 0px #2f6627;
     }
     .btn:hover {
         background-color: white;
     }
     .btn:active {
         position:relative;
         top:1px;
     }                 
     /* css button generator */
     .copyright{
         color: rgb(212, 199, 199);
     }
 
 }
 